@media screen and (max-width:280px){
	
	
	.banner h2 {
	color: #d9d9d9;
	font-family: "Lato",sans-serif;
	font-size: 18px;
	margin-top: -28px;
}

.banner p {
	font-family: 'Lato', sans-serif;
	color: #D9D9D9;
	font-size: 12px;
}
.mybutton {
	padding: 10px 40px;
	margin-top: 3px;
	margin-bottom: 20px;
}
.btn-group-lg > .btn, .btn-lg {
	padding: 3px 16px;
	font-size: 8px;
	line-height: 1.3333333;
	border-radius: 6px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: -15px;
	color: white;
	font-size: 17px;
}
.port1 h2 {
	color: #575757;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 20px;
}
.button{font-size:4px;}
.element-item img {
	width: 100%;
	border: 5px solid #fff;
	height: 92px;
}
.port1 p {
	color: #898989;
	font-size: 4px;
}
.contact h2 {
	font-size: 23px;
	color: #E0E0E0;
	font-weight: bold;
}
	
.service1 p {
	color: black;
	font-size: 12px;
	line-height: 16px;
	float: left;
	text-align: justify;
	margin-bottom: 20px;
}	
.contact p {
	color: #AEAEAE;
	font-size: 14px;
	text-align: justify;
	line-height: 14px;
}
}